.loginbox {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
    margin-top: 80px;
}
.password {
    margin-top: 10px;
}
.username {
    margin-top: 10px;
}
#login {
    margin-top: 10px;
}
